<div class="row">
    <div class="col-md-7 col-6">
        <h1>下載錄取學生資料</h1>
    </div>
</div>
<hr>

<div class="w3-card" style="border-radius: 15px">
    <div class=" p_card">
        海外青年技術訓練班
    </div>
</div>

<div>
    <ul>
        <li>
            <a class="no-link" id="oyvtp"><i class="fa fa-download"
                aria-hidden="true"></i>&nbsp;&nbsp;四年制產學合作學士班預錄取學生名冊下載
            </a>
            （經 <%- meetingText %>通過）
        </li>
    </ul>
</div>
