<div class="row">
    <div class="col-md-7 col-6">
        <h1>下載各梯次學生資料</h1>
    </div>
</div>
<hr>

<div class="w3-card" style="border-radius: 15px">
    <div class=" p_card">
        個人申請
    </div>
</div>

<div>
    <ul>
        <li><a class="no-link" id="depart"><i class="fa fa-download" 
            aria-hidden="true"></i>&nbsp;&nbsp;學士班名冊下載</a>
        </li>
        <li><a class="no-link" id="gra_depart"><i class="fa fa-download"
                    aria-hidden="true"></i>&nbsp;&nbsp;碩博士班名冊下載</a>
        </li>
        <li><a class="no-link" id="tech_depart"><i class="fa fa-download"
                    aria-hidden="true"></i>&nbsp;&nbsp;二年制學士班名冊下載</a>
        </li>
    </ul>
</div>

<div class="w3-card" style="border-radius: 15px">
    <div class=" p_card">
        聯合分發
    </div>
</div>

<div>
    <ul>
        <li><a class="no-link" id="s1"><i class="fa fa-download" 
            aria-hidden="true"></i>&nbsp;&nbsp;第一梯次名冊下載</a>
        </li>
        <li><a class="no-link" id="s2"><i class="fa fa-download" 
            aria-hidden="true"></i>&nbsp;&nbsp;第二梯次名冊下載</a>
        </li>
        <li><a class="no-link" id="s3"><i class="fa fa-download" 
            aria-hidden="true"></i>&nbsp;&nbsp;第三梯次名冊下載</a>
        </li>
        <li><a class="no-link" id="s4"><i class="fa fa-download" 
            aria-hidden="true"></i>&nbsp;&nbsp;第四梯次名冊下載</a>
        </li>
        <li><a class="no-link" id="s5"><i class="fa fa-download" 
            aria-hidden="true"></i>&nbsp;&nbsp;第五梯次名冊下載</a>
        </li>
    </ul>
</div>

<!-- <script>
    alert(env.baseUrl)
</script> -->
 