<div class="row">
    <div class="col-md-7 col-6">
        <h1>下載分發香港及澳門學生申請表</h1>
    </div>
</div>
<hr>

<div class="w3-card" style="border-radius: 15px">
    <div class=" p_card">
        下載各梯次分發香港及澳門學生申請表
    </div>
</div>

<div>
    <ul>
        <li><a class="no-link" id="stage-0"><i class="fa fa-download"
            aria-hidden="true"></i>&nbsp;&nbsp;下載個人申請—學士班分發香港及澳門學生申請表</a>
        </li>
        <li><a class="no-link" id="stage-N"><i class="fa fa-download"
            aria-hidden="true"></i>&nbsp;&nbsp;下載個人申請—研究所分發香港及澳門學生申請表</a>
        </li>
        <li><a class="no-link" id="stage-T"><i class="fa fa-download"
            aria-hidden="true"></i>&nbsp;&nbsp;下載個人申請—港二技分發香港及澳門學生申請表</a>
        </li>
        <li><a class="no-link" id="stage-2"><i class="fa fa-download"
            aria-hidden="true"></i>&nbsp;&nbsp;下載聯合分發第二梯次分發香港及澳門學生申請表</a>
        </li>
        <li><a class="no-link" id="stage-3"><i class="fa fa-download"
            aria-hidden="true"></i>&nbsp;&nbsp;下載聯合分發第三梯次分發香港及澳門學生申請表</a>
        </li>
        <li><a class="no-link" id="stage-5"><i class="fa fa-download"
            aria-hidden="true"></i>&nbsp;&nbsp;下載聯合分發第五梯次分發香港及澳門學生申請表</a>
        </li>
</div>

<!-- <script>
    alert(env.baseUrl)
</script> -->
