<div class="row">
    <div class="col-md-7 col-6">
        <h1>下載學生入臺證資料</h1>
    </div>
</div>
<hr>

<div class="w3-card" style="border-radius: 15px">
    <div class=" p_card">
        學生入臺證資料
    </div>
</div>

<div>
    <ul>
        <li><a class="no-link" id="entry-permit"><i class="fa fa-download" 
            aria-hidden="true"></i>&nbsp;&nbsp;學生入臺證清單下載</a>
        </li>
</div>

<hr>

<div class='row'>
    <div class='time col-3' id="last-data-time">
        <label>資料更新時間：</label>
    </div>
    <div class='time col-6' id="last-downlad-time">
        <label>上次下載時間：</label>
    </div>
</div>

<!-- <script>
    alert(env.baseUrl)
</script> -->
 