<header class="header clearfix">
    <nav class="navbar navbar-light">
        <span class="navbar-brand" href="#">
            <img src="./img/logo.png" height="30" class="d-inline-block align-top">
            僑務委員會各校錄取學生資料下載系統
        </span>
    </nav>
</header>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="text" id="username" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="password" id="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <!--
            <div class="form-group">
                <p class="text-right">
                    <a href="">無法登入？</a>
                </p>
            </div>
            -->
            <div class="form-group">
                <button type="button" class="btn btn-success btn-block" id="btn-login">登入</button>
            </div>
            <div class="form-group">
                <p id="errMsg"></p>
            </div>
        </form>
    </div>
    <div class="alert alert-warning col-md-10 offset-md-1">
        <br>
        <ul>
            <li>
                若因承辦人自行變更且遺失密碼，需重新申請密碼者，敬請填寫「<font color="blue">帳號密碼申請表</font>」，加蓋單位章戳後，傳真(049-2911182)至本會資訊技師賴王斌先生（電話：049-2910960轉分機2266）收
            </li>
            <li><a href="https://drive.google.com/file/d/11RHandGBLuS9cF4QdfKqNZHR5Icz1sTK/view" target="_blank">下載帳號密碼申請表</a></li>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/emn178/js-sha256/src/sha256.js"></script>
